<ul class="footContent">
  <li>
    CONTACT US
    <div>
      <a ui-sref="contact"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
  </li>
  <li>
    <h4>OUR LOCATION</h4><br>
    <div class="location">
      2329 DEVINE STREET <br>
      COLUMBIA, SC 29205 <br>
      <a class="phoneNbr" href="tel:+18037993368">(803) 799-3368</a>
    </div>
  </li>
  <li>
    FOLLOW US
    <div>
      <a target="_blank" href="https://www.facebook.com/Jett-Dental-305886989780304/?fref=ts"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    </div>
  </li>
</ul>
