

<div class="header">
<!-- <span id="adminLink" ui-sref="admin">Admin</span> -->
  <div id="PSA" ng-if="ctrl.showPSA" ng-click="ctrl.closePSA()">
    <span>close</span>
    <p>
      Jett Dental, LLC practices "standard precautions" as defined by the CDC 
      to ensure the health and safety of our patients and staff against infectious 
      disease. We annually train and review policies developed by the CDC and in 
      accordance with the American Dental Association to maintain a safe clinical 
      environment. Our most recent training was completed on March 4, 2020. As 
      always every precaution necessary to protect your health and well-being is 
      being taken.
    </p>
  </div>

  <hr>
  <div class="col col1">
    2329 Devine Street, Columbia, SC 29205 | <a href="tel:+18037993368">(803) 799-3368</a>
  </div>
  <div class="col col2">
    <img src="./assets/logo.png" alt="" />
  </div>
  <div class="col col3">
    Family Dentistry
  </div>

  <bar-nav></bar-nav>
</div>

<mobile-header class="mobileHeader"></mobile-header>
