
<div class="pageWrapper">
  <ul class="ResourcePage">
    <li>
      <h3>New Patient Form</h3>
    </li>
    <li>
      <p class="resourceInfo">
        Thank you for choosing Jett Dental. In an effort to speed up the registration process for new patients,
        you can download the <span class="downloadLink" ng-click="ctrl.download()">New Patient Registration Form</span> prior to your arrival. Please bring
        your insurance card and a picture ID along with this completed form. You may also arrive a few minutes early
        to your appointment to fill out the form at the office.
        <br>
        Please call us at (803) 799-3368 if you have any questions or to schedule an appointment.
      </p>
    </li>

  </ul>

</div>
<footer></footer>
