<div class="pageWrapper">
  <h3>MEET THE STAFF</h3>
  <div class="MemberSection">
    <ul>
      <li>
        <img src="./assets/benPortrait.png" alt="Dr. Ben Jett" />
        <h6>Dr. J. Ben Jett</h6>
      </li>
      <li>
        Dr. Ben Jett grew up in Aiken, SC. After receiving a bachelor's degree from the University of South Carolina,
        he completed his Doctor of Dental Medicine degree at the Medical University of South Carolina in 1986.
        Dr. Ben Jett is a member of the American Dental Association and the South Carolina Dental Association.
      </li>
    </ul>
  </div>
  <hr>
  <div class="MemberSection">
    <ul>
      <li>
        <img src="./assets/kevinPortrait.png" alt="Dr. Kevin Jett" />
        <h6>Dr. Kevin B. Jett</h6>
      </li>
      <li>
        Dr. Kevin Jett grew up in Columbia, SC. After receiving a bachelor's degree from Clemson University,
        he completed his Doctor of Dental Medicine degree at the Medical University of South Carolina in 2015. Dr. Kevin Jett also
        completed a post graduate General Practice Residency at Palmetto Health Richland. Dr. Kevin Jett is a member of the
        American Dental Association and the South Carolina Dental Association.
      </li>
    </ul>
  </div>
  <hr>
  <div class="MemberSection">
    <img class="staffPic" src="./assets/jett-staff.png" alt="Meet the staff" />
  </div>
</div>

<footer></footer>
