<div class="pageWrapper">
  <h3>MEET THE STAFF</h3>
  <div class="MemberSection">
    <ul>
      <li>
        <img src="./assets/benPortrait.png" alt="Dr. Ben Jett" />
        <h6>Dr. J. Ben Jett</h6>
      </li>
      <li>
        Dr. Ben Jett grew up in Aiken, SC. After receiving a bachelor's degree from the University of South Carolina,
        he completed his Doctor of Dental Medicine degree at the Medical University of South Carolina in 1986.
        Dr. Ben Jett is a member of the American Dental Association and the South Carolina Dental Association.
      </li>
    </ul>
  </div>
  <hr>
  <div class="MemberSection">
    <ul>
      <li>
        <img src="./assets/nataliaAntley.png" alt="Dr. Natalia N. Antley, DDS" />
        <h6>Dr. Natalia N. Antley, DDS</h6>
      </li>
      <li>
        Dr. Natalia Antley was born in Colombia, South America, but she is a Carolina girl at heart! She grew up in Columbia, SC 
        and attended Spring Valley High School. Afterwards, she completed her undergraduate studies in Biology and French at 
        Wofford College in Spartanburg. She spent five years in North Carolina attending dental school at UNC-Chapel Hill and then 
        completing a residency program at the Fayetteville VA Hospital. After having the honor of treating our veterans, Dr. Antley 
        moved back in 2015 to practice dentistry in her hometown.</br></br>
        Natalia is passionate about dentistry and committed to rigorous continuing education. She also loves spending time with her 
        husband, Trey, their young children, Catalina and Dawson, and their spunky Yorkie, Milo. Active membership at 
        St. John Neumann Catholic Church, home projects, traveling to visit family, and following Terrier and Tarheel sports keep 
        the Antleys busy.
      </li>
    </ul>
  </div>
  <hr>
  <div class="MemberSection">
    <img class="staffPic" src="./assets/jett-staff.png" alt="Meet the staff" />
  </div>
</div>

<footer></footer>
