// darks 1 - ... darkest to lightest
$dark1: #1C2130;
$dark2: #028F76;
$dark3: #D14334;

$dark3Hvr: #b63224;

// lights 1- ... lightest to darkest
$light1: #FFEAAD;
$light2: #B3E099;
$light2H: #87bb69;

//logo color?
$theme: #bead7e;


// other
$lightGray: #8e8d8d;
$darkGray: #4d4b4b;
$transGray: rgba(#b9b9b9, 0.84);


$reallythinGray: #ededed;


// buttons
$submit: rgb(0, 50, 201);
$submitHover: rgb(0, 34, 138);

//facebook:
$FBblue: #215ada;


//transparent
$transparent: rgba(255, 255, 255, 0);
